/**
 * The following styles get applied inside the view
 */



 .wp-block-beeseen-bee-orbit {
  .beeseen-orbit__stage {
    display: block;
    touch-action: none;
  }

  .beeseen-orbit__item {
    border-radius: 999px;
    overflow: hidden;
  }

  .beeseen-orbit__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .beeseen-orbit__stage.is-dragging {
    cursor: grabbing;
  }
}
