/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-beeseen-bee-perspective-scroll .beeseen-persp__empty {
  padding: 16px;
  border: 1px dashed currentColor;
  opacity: 0.75;
}
