<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--10)">
	<!-- wp:group -->
	<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--12);padding-bottom:var(--wp--preset--spacing--14)">
		<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|16"}}}} /-->
		<!-- wp:post-content {"align":"full","layout":{"type":"default"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
