/*
Theme Name: BeeLab
Theme URI: http://example.com
Author: nathabee
Description: Child theme of Twenty Twenty-Five for Pomolobee.
Template: twentytwentyfive
Text Domain: beelab
Version: 0.1.0
Requires at least: 6.5
Tested up to: 6.6
Requires PHP: 8.1
*/

/* Make the plugin page truly full-bleed */
/*
body.single-pomolobee_page .wp-site-blocks { padding: 0; }
body.single-pomolobee_page .has-global-padding { padding-left: 0; padding-right: 0; }
body.single-pomolobee_page .alignfull { margin-left: 0; margin-right: 0; }
*/